.token-regenerator{
    width: 30%;
    border-style: solid;
    border-color: rgb(160, 222, 177);
    padding: 20px;
}

.box-token{
    height: 400px;
    width: 400px;
    padding: 20px;
    margin: 50px;
    border: 10px solid rgb(180, 240, 188);
    background-color: rgb(174, 234, 174);
    color: black;

}

.text-align-left{
    text-align: left;
}

.token-only{
    height: 25px;
    border: solid rgb(103, 101, 101);
}